.community-show-header{
    margin: 2vh 2vw;
}

.community-show-title{
    margin: -1vh 12vw;
    color: white;
}

.community-img{
    position: relative;
    padding: 1vh 2vw;
}

.community-img img{
    height: 20vh;
    width: 20vh;
    position: absolute;
    top: 1vh;
    left: 0px;
    bottom: 0px;
    right: 0px;
}