.community-show-header{
    margin: 1vh 1vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}

.community-show-header hr{
   width:20vw;
   margin-left: 5vw;
}


.community-show-header hr, #server{
    z-index: 2;
}

.community-show-title{
    z-index: 2;
    margin: -1vh 6vw;
    color: white;
}

.community-img{
    position: relative;
    padding: 1vh 2vw;
    border-radius: 7px;
}

.community-img img{
    height: 9vw;
    width: 9vw;
    position: absolute;
    top: -0.5vh;
    left: 0vw;
    bottom: 0px;
    right: 0px;
    border-radius: 7px;
}

#server{  
    padding: 0;
    color: white;
    font-size: 1.2rem;
}

.community-show-subheading{
    margin: 0 0vw 0 6.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.community-show-subheading *{
    z-index: 1;
}

