.community-show-main-container{
    display:flex;
    flex-direction: row;
}
.community-main-info{
    margin-top: 2vh;
    display: flex;
    flex-direction: row
}



#community-member-list{
    margin-top: -10vh;
}