.community-show-main{
    margin: -2vh 2vw;
    padding-top: 0.5vh;
    background-color: #6A7062;
    width: 75vw;
    min-height: 73vh;
}

.community-main-info{
    display: flex;
    flex-direction: row
}

#server{
    margin: 0 0vw 0 12vw;
    padding: 0;
    color: white;
    /* margin-left: 10vw; */
    font-size: 1.2rem;
}