.login-page{
    height: 100%;
    display: flex;
    flex-direction: row;
}

#company-front-image{
    z-index: 1;
    margin-top: -100px;
    margin-left: -10vw;
    object-fit: cover;
    /* max-height: 100vh; */
    /* min-width: 100vw; */
    
}


.login-form{
    z-index: 2;
    position: absolute;
    padding-top: 8vh;
    margin-left: 79vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.login-form img{
    margin-left: -5.7vw;
    height:30vh;
    width:30vh;
}

#sign-up-text{
    margin-top: 10vh;
    margin-left:-6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sign-up-link{
    font-weight: bold;
}

#sign-up-link:hover{
    text-decoration: underline;
    cursor: pointer;
}
  
  html{
    overflow: hidden;
  }

  