@font-face {
    font-family: 'reactor7regular';
    src: url('../../fonts/reactor7/reactor7-webfont.woff2') format('woff2'),
         url('../../fonts/reactor7/reactor7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.page-menu {
    position: fixed;
    height: 100vh;
    z-index: 5;
    width: 17%;
    margin-top: -5px;
    color: rgb(255, 254, 254);
    margin-bottom: 0vh;
    /* margin-left: 0; */
    padding: 2vh 0.8vw;
    /* box-shadow: 0 0 20px 0 black inset; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #424542;
  box-shadow: 1px 1px #e7dfe7,
              -1px -1px #e7dfe7,
              1px -1px #e7dfe7,
              -1px 1px #e7dfe7,
              0 -2px #9c9a9c,
              -2px 0 #7b757b,
              0 2px #424542;
  width: 18vw;
  
  background: #04009d;
  background: -moz-linear-gradient(top,  #04009d 0%, #06004d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04009d), color-stop(100%,#06004d));
  background: -webkit-linear-gradient(top,  #04009d 0%,#06004d 100%);
  background: -o-linear-gradient(top,  #04009d 0%,#06004d 100%);
  background: -ms-linear-gradient(top,  #04009d 0%,#06004d 100%);
  background: linear-gradient(to bottom,  #04009d 0%,#06004d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );


  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 0px 7px 0 0px;
}

div.page-menu *{
    color: #eff1ff;
    text-shadow: 2px 2px #212421,
                 1px 1px #212021;
    font-family: "Reactor7";
    font-weight: normal;
    font-size: 2rem;
  }

#company-logo {
    max-width: 10vw;
}

.page-menu h2, .page-menu p {
    padding: 0vh 0.8vw 0 0vw;
    margin: 1vh 0vw 1vh 1vw;
}

.expand{
    padding-right: 1.3vw;
}

.modal-link:hover{
    cursor: pointer;
    color:rgba(255, 255, 255, 0.746);
}

.sub-menu{
    padding: 0;
    margin: 0.5vh 0.5vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sub-menu h4{
    margin: 0.5vh 0.8vw;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.expand:hover{
    color:rgba(255, 255, 255, 0.746);
    cursor: pointer
}

.category{
    padding: 0.5vh 0;
}

#search-input{
    background-color: #6A7062;
    color: white;
    margin: 1vh 2vw;
    width: 12vw;
    height: 3vh;
    font-size: 1.1rem;
    font-weight: bold;
    /* outline: none; */
    border: 1px groove lavender;
}

#search-input:focus{
    outline-color: rgba(255, 255, 255, 0.787);
}


#search-input::placeholder{
    opacity: 0.3;
    color: white;
}

.title{
    cursor: default
}

.community-image{
    max-height: 5vh;
    max-width: 5vh;
    position: relative;
    padding: 1vh 0;
}

.community-image img{
    position: absolute;
    top: 1vh;
    left: 0px;
    bottom: 0px;
    right: 0px;
    max-height: 4vh;
    max-width: 4vh;
}

.community-name{
    padding-left: 5vh;
}

.page-menu a{
    color: white;
    text-decoration: none
}

.page-menu a:hover{
    color:rgba(255, 255, 255, 0.746)
}