.modal-container{
    background: rgba(83, 83, 83, 0.685);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
    position: absolute;
}

.modal-div{
    background: rgb(226, 221, 221);
    z-index: 30;
    position: absolute;
    border-radius: 7px;
    margin-top: 15vh;
    margin-left: 25vw;
    height: 70vh;
    width: 50vw;
}