/* @font-face {
    font-family: 'reactor7regular';
    src: url('../../fonts/reactor7/reactor7-webfont.woff2') format('woff2'),
         url('../../fonts/reactor7/reactor7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */

.modal-container{
    background: rgba(83, 83, 83, 0.685);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
    position: absolute;
}

.modal-div{
    background: rgb(226, 221, 221);
    z-index: 30;
    margin: auto;
    margin-top: 10vh;
    border-radius: 7px;
    border: solid 1px #424542;
  box-shadow: 1px 1px #e7dfe7,
              -1px -1px #e7dfe7,
              1px -1px #e7dfe7,
              -1px 1px #e7dfe7,
              0 -2px #9c9a9c,
              -2px 0 #7b757b,
              0 2px #424542;
  
  /* background: #04009d;
  background: -moz-linear-gradient(top,  #04009d 0%, #06004d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04009d), color-stop(100%,#06004d));
  background: -webkit-linear-gradient(top,  #04009d 0%,#06004d 100%);
  background: -o-linear-gradient(top,  #04009d 0%,#06004d 100%);
  background: -ms-linear-gradient(top,  #04009d 0%,#06004d 100%);
  background: linear-gradient(to bottom,  #04009d 0%,#06004d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 ); */


  /* -webkit-border-radius: 7px;
  -moz-border-radius: 7px; */
  border-radius: 7px;
}



.modal-close{
    color:rgb(149, 148, 148);
    position: absolute;
    margin-top:4.5vh;
}

.modal-close:hover{
    color:white;
    cursor: pointer;
}



.modal-div button{
    background-color: #6A7062;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: -14px 2px;
    cursor: pointer;
    font-weight: bold;
    max-height: 48px;
  }

.modal-div .modal-div-button-next-invalid:active{
    background-color: rgba(255, 0, 0, 0.664)
}

.modal-div button:hover{
    background-color: rgb(254, 255, 254);
    color: #36454F;
    cursor: pointer;
  }