.modal-container{
    background: rgba(83, 83, 83, 0.685);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
    position: absolute;
}

.modal-div{
    background: rgb(226, 221, 221);
    z-index: 30;
    margin: auto;
    margin-top: 10vh;
    height: 80vh;
    width: 43vw;
    border-radius: 7px;
}

.modal-close{
    color:rgb(149, 148, 148);
    position: absolute;
    margin-left:72vw;
    margin-top:4.5vh;
}

.modal-close:hover{
    color:white;
    cursor: pointer;
}