.banner{
    padding-top: 16vh;
    /* margin-top: 0vh; */
    text-align: end;
}

.banner h1, .banner div{
    background-color: rgba(136, 136, 136, 0.767);
    color: white;
    padding-right: 1vw;
}

.buttons-container{
    margin: 1vh 2vw 0vh;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
}
.sub-banner{
    margin-top: -2.75vh;
    padding: 2.4%;
    color: white;
    background-color: rgba(54, 69, 79, 0.842);
    font-weight: bold;
}

.success-banner{
    margin-top: -2.75vh;
    padding: 2.4%;
    color: white;
    background-color: rgba(0, 128, 0, 0.685);
    font-weight: bold;
}

.failure-banner{
    margin-top: -2.8vh;
    padding: 1%;
    color: white;
    background-color: rgba(255, 0, 0, 0.664)
}

.failure-banner span{
    font-weight: bold;
}