.App {
  /* text-align: center; */
  min-height: 100vh;
}

.flex-main {
  display: flex;
  flex-direction: row;
  background-color: #8D909B;
  min-height: 85vh;
  height: 100%;
}

textarea {
  resize: none
}

.App Menu{
  height:100%;
}