.App {
  /* text-align: center; */
  min-height: 100vh;
}

.flex-main {
  display: flex;
  flex-direction: row;
  background-color: #8D909B;
  min-height: 85vh;
  height: 100%;
  width: 100%;
  /* box-shadow: 0px 0px 20px 0px black inset; */
}

textarea {
  resize: none
}
